body {
    background-color: black;
    background-image: url("./images/banner.jpg");
}

#navbar ul li {
    color: white;
    list-style: none;
    display: inline-block;
    width: 18%;
}

#banner {    
    color: white;
}

h1 {
    font-size: 70px;
}